body
{
	width: 600px;
	margin: 10px auto;
	border: 1px solid;
	padding: 10px;
	font-family: Helvetica;
}

img
{
	margin: 0px;
	border: none;
}

table
{
	border-collapse: collapse;
	margin: 10px 0;
}

td, th
{
	border: 1px solid black;
	padding: 5px;
}

th
{
	text-align: center;
	background: plum;
	font-weight: bold;
}

h1
{
	font-size: 1.5em;
	margin: 10px 0;
}

h2
{
	font-size: 1.2em;
	margin: 10px 0;
}

#naglowek, #tresc, #stopka
{
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
}

#naglowek
{
	background: plum;
}

#tresc
{
	background: lavender;
}

#stopka
{
	background: plum;
}