body
{
	background-color: Gray;
	margin: 0;
}

div#page
{
	width: 800px;
	margin: 0 auto;
	background-color: White;
}

div#header
{
	height:100px;
}

div#menu
{
	width: 150px;
	height: 200px;
	float: left;
}

