<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>pl.put.inf75922.s6.ai.shop.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/Cart</url-pattern>
    </filter-mapping>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>pl.put.inf75922.s6.ai.shop.CartListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>pl.put.inf75922.s6.ai.shop.servlets.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductInfoServlet</servlet-name>
        <servlet-class>pl.put.inf75922.s6.ai.shop.servlets.ProductInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>pl.put.inf75922.s6.ai.shop.servlets.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecurityServlet</servlet-name>
        <servlet-class>pl.put.inf75922.s6.ai.shop.servlets.SecurityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.ws.rest.impl.container.servlet.ServletAdaptor</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/ProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductInfoServlet</servlet-name>
        <url-pattern>/ProductInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecurityServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecurityServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
    <error-page>
        <exception-type>javax.persistence.PersistenceException</exception-type>
        <location>/Error.jsp</location>
    </error-page>
</web-app>
